@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .bg-primary {
        padding: 20px;
    }
    .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    }
    .quick-list {
        margin-left: 20px;
        margin-top: 40px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar,
    .teams {
        flex-direction: column;
    }
    .quick-list {
    margin-top: 50px;
    }
}