@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html {
    font-size: 62.5%;
    /* Makes 1rem = 10px for easier calculations */
}
* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
main {
    max-width: 1152px;
    margin: 0 auto;
}
main > section {
    margin-top: 100px;
}
/* shared style */
.bg-primary {
    background: rgba(255, 144, 14, 0.1);
    padding: 30px;
}
.btn-primary {
    border-radius: 8px;
    padding: 20px 24px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    border: none;
    text-align: center;
    transition: 15ms;
}
.btn-primary:hover {
    opacity: .7;
}
.btn-primary:active {
    opacity: 1;
}
.primary-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    /* text-align: center; */
    margin: 35px 0px;
}
.d-flex {
    display: flex;
    gap: 40px;
}
.dark-1 {
    color: rgb(19, 19, 19);
}
.dark-2 {
    color: rgb(66, 66, 66);
}
.Dark-3 {
    color: rgb(114, 114, 114);
}
.section-title {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    /* text-align: center; */
}
.navbar,
.banner {
    max-width: 1152px;
    margin: 0 auto;
}

/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
   
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
/* banner styles */
.banner-contant {
    max-width: 680px;
    margin: 50px auto;
    text-align: center;
}
.banner-title {
    color: rgb(19, 19, 19);
    font-size: 5.1rem;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0%;
    
}
/* teams styles */
.teams {
    display: flex;
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.quick-list  {
    text-align: left;
    margin-left: 104px;
    max-width: 424px;
}
#Quick-list-text {
    color: rgb(114, 114, 114);
    font-weight: 500;
}
#Features-text {
    color: rgb(255, 144, 14);
}